.taskList{
    padding: 8px;
    background-color: rgb(65, 65, 65);
    border-radius: 7px;
}

.taskList .btn{
    margin-top: 8px;
    padding: 8px;
    display: flex;
    justify-content: center;
    background: none;
    border: none;
    border-radius: 3px;
    color: aliceblue;
    background: #303030;
    transition: background-color 0.3s;    
}

.taskList .btn:hover{
    background-color: dimgray;
    cursor: pointer;
}

.taskList .titulo{
    padding: 4px;
    font-weight: bold;
    background-color: #303030;
    text-align: center;
    color: aliceblue;
    border-radius: 2px;
}

.taskList .content{
    padding: 16px 4px;
    display: flex;
    flex-direction: column;
}

.taskList .content .emptyLista{
    text-align: center;
    border: 1px dashed white;
    border-radius: 4px;
    padding: 4px;
}